<!DOCTYPE html>
<html>
<head>
    <title>Расписание занятий ЮРГПУ (НПИ)</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <span class="slogan"> {{ message }} </span>
    </div>   

    <script>   
        new Vue({
            el: "#app",
            data: {
                message: 'Веб-приложение "Расписание занятий ЮРГПУ (НПИ)"'
            }            
        });
    </script>
</body>
</html>